<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="Title">ACCOUNT SETTING</ion-title>

      <div class="darkmode">
        <h2>NOTIFICATION</h2>
        <ion-toggle ></ion-toggle>
        <h2>DARK MODE</h2>
        <ion-toggle ></ion-toggle>
        <h2>AUTO DOWNLOAD</h2>
        <ion-toggle ></ion-toggle>
        
      </div>
         <img src="../../assets/images/appasset/MANREADING.jpg " alt="">
    </ion-toolbar>
  </ion-header>
</ion-content>

