

<ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <img src="../../assets/images/appasset/MANREADING.jpg " alt="">
    </div>
    <div class="login">
      <img src="../../assets/images/appasset/LOGO.jpg " alt="">
      <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      <ion-button (click)="login()" class="loginbtn" expand="full">Log in</ion-button>
      <p class="signup-link">Don't have an account? <a href="signup">Sign up</a></p>
    </div>
  </div>

  
</ion-content>


