<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="updateBook()">SAVE</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addToCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="book" class="book-form-container">
    <ion-img [src]="book.bookimage" class="book-image" *ngIf="book.bookimage"></ion-img>
    <ion-item>
      <ion-label position="stacked">BOOK NAME: {{book.bookname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Author: {{book.bookauthor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Genre: {{book.bookgenre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Price: P{{book.bookprice}}</ion-label>
    </ion-item>
    <ion-item class="Sypnosis" >
      <ion-label >Sypnosis: {{book.sypnosis}}</ion-label>
    </ion-item>
  </div>
</ion-content>