<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">CANCEL</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateBook()">
        <ion-icon slot="icon-only" size="large" name="save"></ion-icon>
      </ion-button>
      <ion-button (click)="removeBook()">
        <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="book" class="book-form-container">
    <ion-img [src]="book.bookimage" class="book-image" *ngIf="book.bookimage"></ion-img>
    <ion-item>
      <ion-label position="stacked">Book Image</ion-label>
      <ion-input type="file" (change)="uploadFile($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Name</ion-label>
      <ion-input [(ngModel)]="book.bookname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Author</ion-label>
      <ion-input [(ngModel)]="book.bookauthor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Genre</ion-label>
      <ion-input [(ngModel)]="book.bookgenre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Book Price (peso)</ion-label>
      <ion-input type="number" [(ngModel)]="book.bookprice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Favorite</ion-label>
      <ion-toggle [(ngModel)]="book.isFavorite"></ion-toggle>
    </ion-item>
  </div>
</ion-content>

