<ion-content class="profile-content">
  <ion-header class="header">
    <ion-buttons slot="end">
      <ion-button (click)="goToSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>
  
  <div class="profile-header">
    <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
    <ion-label class="username">Your name</ion-label>
  </div>
  
  <div class="action-buttons">
    <ion-button expand="full" fill="clear" (click)="showReadingList()" [color]="selectedTab === 'reading' ? 'primary' : 'medium'" class="action-item">
      Reading List
    </ion-button>
    <ion-button expand="full" fill="clear" (click)="showFavorites()" [color]="selectedTab === 'favorites' ? 'primary' : 'medium'" class="action-item">
      Favorites
    </ion-button>
    <ion-button expand="full" fill="clear" (click)="showOrders()" [color]="selectedTab === 'orders' ? 'primary' : 'medium'" class="action-item">
      Orders
    </ion-button>
  </div>

  <div class="content-section">
    <ion-list *ngIf="selectedTab === 'reading'">
      <p>Hello</p>
    </ion-list>
    <ion-list *ngIf="selectedTab === 'favorites'">
      <ion-item *ngFor="let book of favorites">
        <ion-thumbnail slot="start">
          <img [src]="book.bookimage" alt="book image">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ book.bookname }}</h2>
          <p>{{ book.bookauthor }}</p>
          <p>{{ book.bookgenre }}</p>
        </ion-label>
        <ion-button slot="end" (click)="removeFromFavorites(book.id!)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="selectedTab === 'orders'">
      <ion-item *ngFor="let order of orders">
        <ion-label>
          <h2>Order Date: {{ order.date | date }}</h2>
          <div *ngFor="let item of order.items">
            <p>Book Name: {{ item.bookname }}</p>
            <p>Author: {{ item.bookauthor }}</p>
            <p>Price: {{ item.bookprice }}</p>
            <p>Quantity: {{ item.quantity }}</p>
          </div>
          <h3>Total Price: {{ order.totalPrice }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>





