<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-container">
    <header>
      <img class="logo" src="../../assets/images/homescreen logo.jpg" alt="homescreen">
      <div>
        <ion-button fill="clear" class="searchbar">
        </ion-button>  
        
        <ion-button fill="clear" (click)="openCart()" class="dashbtn">
          <ion-icon name="cart" class="setting"></ion-icon>
        </ion-button>
      </div>
    </header>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="background-image">
  <ion-grid>
    <ion-col class="Home">
      
      <ion-row class="portals">
        <img src="../../assets/images/LIBRARY.jpg" alt="Library image" class="Image">
      </ion-row>
      
      <ion-card class="book-section" >
        <p class="book-tag">Recommended for you</p>
        <div class="book-row">
          <ion-card-content class="book-style" *ngFor="let book of recommendedBooks" >
            <img [src]="book.bookimage" class="book-image" alt="book image" (click)="openBook2(book)" />
            <p> {{  book.bookname }}</p>
            <p> ₱{{  book.bookprice }}.00</p>
            <div (click)="toggleFavorite(book)">
              <ion-icon [name]="isFavorite(book) ? 'heart' : 'heart-outline'"></ion-icon>
            </div>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card class="book-section" >
        <p class="book-tag">New Release</p>
        <div class="book-row">
          <ion-card-content class="book-style" *ngFor="let book of historyBooks"  >
            <img [src]="book.bookimage" class="book-image" alt="book image" (click)="openBook2(book)" />
            <p> {{  book.bookname }}</p>
            <p> ₱{{  book.bookprice }}.00</p>
            
            <div (click)="toggleFavorite(book)">
              <ion-icon [name]="isFavorite(book) ? 'heart' : 'heart-outline'"></ion-icon>
            </div>
             
          </ion-card-content>
        </div>
      </ion-card>

    </ion-col>
  </ion-grid>
</ion-content>

