ion-grid, ion-col, ion-row{
    padding: 0px;
}

.background-image{
  --background: url('../../assets/images/LIBRARY.jpg') no-repeat center center / cover;
  position: relative;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  font-size: 1.5em;
  flex-shrink: 0;
}

.controls {
  display: flex;
  align-items: center;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar ion-input {
  margin-right: 8px;
  flex: 1;
}

.setting {
  font-size: 1.2em;
}

.dashbtn {
  margin-left: 8px;
}
.searchbar input {
    text-transform: none; /* Ensure text is displayed as typed */
}
 
  ion-toolbar {
    --background: #fff; 
    --border-color: transparent; 
  }
  
  ion-button {
    --background: transparent; 
    --color: brown;
    font-size: 24px; 
  }
  
  ion-icon {
    --color: brown; 
    font-size: 24px;
  }

  .book-image {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }