ion-grid, ion-col, ion-row{
    padding: 0px;
}

.background-image{
  --background: url('../../assets/images/LIBRARY.jpg') no-repeat center center / cover;
  position: relative;
}

ion-grid, ion-col, ion-row{
  padding: 0px;
}
ion-input{
  width: 100px;
}
// ion-toolbar{
//     background-color: rgb(255, 192, 75);
// }
header{
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 70px;
} 

.logo{
  width: 160px;
  position:static;
}
.searchbar ion-input {
  text-transform: none; 
  width: 35px
}

// -----------------------------------------------------------------------body



.Home{
  display: grid;
  grid-template-rows: 180px 1fr 1fr;
  height: 769px;
  width: 414px;
}



.book-section{ 
  background-color: lightblue;
  height: 275px;
  width: 414px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.book-tag{
  margin: 5px 0 5px 5px;      
  color: black;         
  font-weight: 750;                                                                       
}
.book-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}
.book-row img{
  width: 120px;
  height: 170px;
  object-fit: fill;
}
.book-row p{
  color: white;         
}
.book-style{
  background-color: black;
  height: 235px;
  width: 130px;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 5px; 
  padding: 7px;
}

.footer {
  --ion-background-color: #fff;
}

.footer-buttons {
  flex: 1; 
  justify-content: space-between;
  padding: 0 10px; 
}

ion-toolbar {
  --background: #fff; 
  --border-color: transparent; 
}

ion-button {
  --background: transparent; 
  --color: brown; 
}

.footer ion-icon {
  --color: brown; 
  font-size: 36px;
}
// .details{

// }
