
<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="settings-content">
  <ion-list>
    <ion-item (click)="goToAccountSettings()" class="settings-item">
      <ion-label slot="end">Account Settings</ion-label>
    </ion-item>
    <ion-item (click)="goToHelpAndSupport()" class="settings-item">
      <ion-label slot="end">Help and Support</ion-label>
    </ion-item>
    <ion-item (click)="goToAbout()" class="settings-item">
      <ion-label slot="end">About</ion-label>
    </ion-item>
    <ion-item (click)="Logout()" class="settings-item">
      <ion-label slot="end">Sign Out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


